// Backgrounds
$bg-white: #ffffff;
$bg-light: #f2f2f2;
$bg-primary: #eaeaea;
$bg-green: #68b738;

//Colors
$color-black: #000000;
$color-darker: #111111;
$color-dark: #222222;
$color-light: #444444;
$color-white: #ffffff;
