// Backgrounds
$bg-white: #ffffff;
$bg-lightest: #cdcdcd;
$bg-lighter: #e6e6e6;
$bg-light: #f2f2f2;
$bg-primary: #eaeaea;
$bg-primary-lighter: #ebebeb;
$bg-primary-light: #dcdcdc;
$bg-dark: #d9d9d9;
$bg-green: #68b738;
$bg-green--hover: #5eaa2f;

//Colors
$color-black: #000000;
$color-darker: #111111;
$color-dark: #222222;
$color-light: #444444;
$color-white: #ffffff;

//Border
$border-lightest: #e7e7e7;
$border-lighter: #d9d9d9;
$border-light: #cdcdcd;
$border-primary: #bababa;
$border-primary-lighter: #ebebeb;
$border-primary-light: #e6e6e6;
$border-dark: #444444;
$border-error: #ff8282;

//Icons
$icon-grey: #666666;
$icon-green: #68b738;
