// Backgrounds
$bg-white: #ffffff;
$bg-lighter: #e6e6e6;
$bg-light: #f2f2f2;
$bg-primary: #eaeaea;
$bg-green: #68b738;
$bg-green--hover: #5eaa2f;
$bg-dark: #d9d9d9;

//Colors
$color-black: #000000;
$color-darker: #111111;
$color-dark: #222222;
$color-light: #444444;
$color-white: #ffffff;
