@import "./source/sass/global/variables.scss";
@import "../global/viewports.scss";

.add-module {
  flex-wrap: wrap;
  margin-bottom: 34px;
}

@media (min-width: $desktop-width) {
  .add-module {
    flex-direction: row;
    width: 100%;
    margin-bottom: 0;
  }
}

.add-module__inner {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: $tablet-width) {
  .add-module__inner {
    grid-template-columns: 1fr 1fr;
    width: 630px;
    row-gap: 32px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .add-module__inner {
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
  }
}

.add-module__inner-item {
  display: flex;
  margin-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .add-module__inner-item {
    margin-bottom: 0;
    width: 280px;
  }
}

@media (min-width: $desktop-width) {
  .add-module__inner-item:last-child {
    margin-bottom: 0;
  }
}
