@import "../global/variables";
@import "../global/viewports.scss";

.additional {
  position: relative;
}

@media (min-width: $tablet-width) {
  .additional {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    width: 1220px;
  }
}

.additional-title {
  font-size: 24px;
  line-height: 24px;
  color: $color-black;
  margin: 25px 0 36px 0;
  font-weight: normal;
  position: relative;
  background: $color-white;
  width: 255px;
}

@media (min-width: $tablet-width) {
  .additional-title {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
    width: 424px;
    padding: 0 37px;
  }
}

@media (min-width: $desktop-width) {
  .additional-title {
    margin-left: 0;
    margin-top: 75px;
    width: 415px;
  }
}

.additional-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .additional-box {
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .additional-box {
    width: 1220px;
    min-height: 288px;
  }
}

.additional-list {
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .additional-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 556px;
    margin-bottom: 69px;
    padding: 0 38px 0 38px;
    border: 1px solid $border-light;
  }
}

@media (min-width: $desktop-width) {
  .additional-list {
    width: 896px;
    min-height: 288px;
    padding: 0;
    border: none;
  }
}

.additional-list__item-order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  background-color: $bg-green;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;

  &:hover {
    background: $bg-green--hover;
  }

  &:active {
    background: $bg-green--hover;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .additional-list__item-order {
    width: 632px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .additional-list__item-order {
    width: 632px;
  }
}

@media (min-width: $desktop-width) {
  .additional-list__item-order {
    width: 244px;
  }
}
