@import "../global/variables";

.catalog {
  .catalog-list {
    list-style: none;
  }

  .catalog__item {
    background-color: $bg-light;
    height: 266px;
    padding: 30px 33px 18px 20px;
    margin-bottom: 20px;

    .catalog__title {
      font-size: 24px;
      line-height: 37px;
      text-transform: uppercase;
    }

    .catalog__description {
      font-family: "Arial", serif;
      font-size: 14px;
      line-height: 18px;
      color: $color-dark;
      margin: 29px 0 38px 0;
    }

    .catalog__slim,
    .catalog__pro {
      font-size: 16px;
      line-height: 16px;
      color: $color-black;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
