@import "../global/variables";
@import "../global/viewports.scss";

.contacts {
  position: relative;
}

.cooperation {
  padding: 20px 26px;
  background: $bg-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: $tablet-width) {
  .cooperation {
    padding: 56px 70px;
  }
}

.cooperation-catalog {
  background: $bg-light;
  margin-top: 35px;
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: absolute;
    width: 565px;
    height: 198px;
    top: 25%;
    left: 110px;
  }
}

.cooperation__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
  }
}

.cooperation__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark;
}

@media (min-width: $tablet-width) {
  .cooperation__address {
    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .cooperation__title {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.map iframe {
  border: none;
  display: block;
}
