@import "../global/variables";
@import "../global/viewports.scss";

.content-more {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .content-more {
    width: 324px;
    height: 431px;
    align-items: center;
    padding: 0 38px 40px 38px;
    border: 2px solid $bg-light;
  }
}

@media (min-width: $desktop-width) {
  .content-more {
    width: 245px;
  }
}

.content-more__show {
  background-color: $bg-light;
  color: $color-light;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .content-more__show {
    width: 248px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .content-more__show {
    width: 169px;
  }
}

.content-more__title {
  font-size: 16px;
  line-height: 20px;
  color: $color-darker;
  margin-bottom: 8px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .content-more__title {
    font-size: 20px;
    line-height: 22px;
    margin: 160px 0 0 0;
    width: 130px;
  }
}

.content-more__slogan {
  font-size: 12px;
  line-height: 16px;
  color: $color-light;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .content-more__slogan {
    font-size: 16px;
    line-height: 18px;
    margin: 23px 0 84px 0;
    width: 160px;
  }
}
