@import "../global/variables";
@import "../global/viewports.scss";

.contacts {
  position: relative;
}

.cooperation {
  padding: 20px 26px;
  background: $bg-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: $tablet-width) {
  .cooperation {
    padding: 56px 70px;
  }
}

.cooperation-catalog,
.cooperation-form {
  background: $bg-light;
  margin-top: 35px;
}

@media (min-width: $tablet-width) {
  .cooperation-catalog {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: absolute;
    width: 565px;
    min-height: 198px;
    top: 25%;
    left: 110px;
    background: $bg-white;
  }
}

.cooperation__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
  }
}

.cooperation__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark;
  text-align: end;
}

@media (min-width: $tablet-width) {
  .cooperation__address {
    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__address {
    text-align: left;
    padding-left: 47px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
    padding: 5px 10px;
  }
}

.map {
  background: url("../img/map-mobile_1x.png") no-repeat;

  @media (min-resolution: 2dppx) {
    background: url("../img/map-mobile_2x.png") no-repeat;
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background: url("../img/map-tablet_1x.png") no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/map-tablet_2x.png") no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../img/map-desktop_1x.png") no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/map-desktop_2x.png") no-repeat;
    }
  }
}

.map iframe {
  border: none;
  display: block;
  width: 100%;
}
