@import "./source/sass/global/variables.scss";
@import "../global/viewports.scss";

.data-cat {
  margin-bottom: 24px;
}

@media (min-width: $desktop-width) {
  .data-cat {
    margin-bottom: 0;
  }
}

.data-cat__list {
  display: flex;
  justify-content: space-between;
  height: 45px;
  margin-bottom: 15px;
}

@media (min-width: $desktop-width) {
  .data-cat__list {
    margin-bottom: 26px;
  }
}
