@import "./source/sass/global/variables.scss";
@import "../global/viewports.scss";

.data-private__list {
  display: flex;
  height: 45px;
  align-items: center;
  margin-bottom: 13px;
}

@media (min-width: $desktop-width) {
  .data-private__list {
    padding-left: 0;
  }
}

.data-private__list:first-child {
  margin-top: 22px;
}

.data-private__list:last-child {
  margin-bottom: 20px;
}

.data-private__list-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.data-private__list-radio + .ad-form__label--radio {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.data-private__list-radio + .ad-form__label--radio::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid $border-light;
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.data-private__list-radio:not(:disabled):not(:checked) + .ad-form__label--radio:hover::before {
  border-color: $border-primary;
}

.data-private__list-radio:checked + .ad-form__label--radio::before {
  background-image: url("../img/circle-green.svg");
}

.data-private__list-radio:disabled + .ad-form__label--radio::before {
  border-color: $border-primary;
}
