@import "../global/variables.scss";
@import "../global/viewports.scss";

.header-nav {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 0;
  background: $bg-white;
  color: $color-black;
}

@media (min-width: $tablet-width) {
  .header-nav {
    position: inherit;
    width: 480px;
  }
}

@media (min-width: $desktop-width) {
  .header-nav {
    color: $color-white;
    background: transparent;
  }
}

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 65px;
  height: 65px;
  cursor: pointer;
  border: none;
}

.page-header--opened {
  top: 65px;
  right: auto;
  left: 0;
}

.page-header--closed .page-header__toggle {
  background: url("../img/menu-open.svg") no-repeat 50%;
}

.page-header--opened .page-header__toggle {
  background: url("../img/menu-close.svg") no-repeat 50%;
}

@media (max-width: $mobile-width-only) {
  .page-header--closed .main-nav__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }
}
