@import "./../global/variables.scss";
@import "../global/viewports.scss";

.page-footer {
  background-color: $bg-light;
  position: relative;
}

@media (min-width: $tablet-width) {
  .page-footer {
    height: 147px;
    padding: 58px 0 55px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 110px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    width: 100%;
    padding: 0 30px;
    justify-content: space-between;
  }
}

.footer-link {
  height: 95px;
  display: flex;
  align-items: center;
}

.footer-link__logo {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  padding: 0 80px;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;
    width: 110px;
  }
}

.social__item {
  list-style: none;
}

.page-footer__copyright {
  height: 78px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    width: auto;
    justify-content: center;
  }
}

.copyright-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $color-light;
}

@media (min-width: $tablet-width) {
  .copyright-text {
    margin-right: 22px;
  }
}

.page-footer__social {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $border-lighter;
  border-bottom: 1px solid $border-lighter;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    border: 0;
    width: auto;
  }
}

.page-footer__wrapper-logo {
  height: 95px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.social__link--facebook {
  stroke: $icon-grey;

  &:hover {
    stroke: $icon-green;
  }

  &:active {
    stroke: $icon-green;
    opacity: 0.4;
  }
}

.social__link > svg,
.copyright-link__svg {
  fill: $icon-grey;

  &:hover {
    fill: $icon-green;
  }

  &:active {
    stroke: $icon-green;
    opacity: 0.4;
  }
}

.copyright-link:hover > svg {
  fill: $icon-green;
}
