@import "./../global/variables.scss";
@import "../global/viewports.scss";

.page-header {
  display: flex;
  align-items: center;
  min-height: 65px;
  padding: 10px 20px;
  z-index: 1;

  .page-header__title {
    color: $color-dark;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    justify-content: space-between;
    border: 0;
    margin-bottom: 0;
    margin-top: 14px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
    margin: 0 auto;
    padding: 55px 0 0 0;
  }
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 70%;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo-mobile,
  .page-header__logo-text {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }


  .page-header__logo {
    width: 202px;
    height: 59px;
  }

  .page-header__logo--text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo--text {
  margin-left: 55px;
}

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 65px;
  height: 65px;
  cursor: pointer;
  border: none;
}

.page-header--opened {
  top: 65px;
  right: auto;
  left: 0;
}

.page-header--closed .page-header__toggle {
  background: url("../img/menu-open.svg") no-repeat 50%;
}

.page-header--opened .page-header__toggle {
  background: url("../img/menu-close.svg") no-repeat 50%;
  opacity: 0;
}

@media (max-width: $mobile-width-only) {
  .page-header--closed .main-nav__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }
}
