@import "../global/variables";
@import "../global/viewports.scss";

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
  margin-bottom: 49px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: 1220px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    padding: 0;
    margin: 65px 0 0 0;
  }
}

