@import "../global/variables";
@import "../global/viewports.scss";

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
  padding-bottom: 49px;
  font-weight: normal;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 708px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 82px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: 1220px;
    padding-bottom: 84px;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    padding: 0;
    margin: 65px 0 0 0;
  }
}
