@import "../global/variables";
@import "../global/viewports.scss";

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
  font-weight: normal;
  width: 280px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  padding: 27px 0 40px 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 708px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 111px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: 1220px;
    padding-bottom: 126px;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    padding: 0;
    margin: 51px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-top: 50px;
  }

  .page-main-form {
    margin-top: 102px;
  }
}
