@import "./source/sass/global/variables.scss";
@import "../global/viewports.scss";


.private-information-input {
  width: 100%;
  height: inherit;
  padding: 0 15px;
  margin-left: 20px;
  border: 1px solid $border-lightest;
  position: relative;

  &:hover {
    border-color: $border-light;
  }

  &:focus {
    border-color: $border-dark;
  }
}

.private-information__input--error {
  border: 1px solid $border-error;
}

@media (min-width: $desktop-width) {
  .private-information-input {
    height: 52px;
    width: 486px;
  }
}
