@import "../global/variables";
@import "../global/viewports.scss";

.product-order-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  background-color: $bg-green;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  margin: 14px 0 25px 0;

  &:hover {
    background: $bg-green--hover;
  }

  &:active {
    background: $bg-green--hover;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .product-order-link {
    margin: 33px 0 40px 0;
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .product-order-link {
    width: 168px;
  }
}
