@import "../global/variables.scss";
@import "../global/viewports.scss";

.products-list {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .products-list {
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .products-list {
    width: 1220px;
  }
}
