@import "../global/variables";
@import "../global/viewports.scss";

.product-order {
  font-size: 12px;
  line-height: 16px;
  color: $color-light;
  width: inherit;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .product-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 10px 0;
    border-bottom: 1px solid $border-light;
    width: inherit;
  }

  .product-order:first-child {
    padding-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .product-order dd {
    text-align: right;
  }
}

.product-order-link,
.content-more__show,
.additional-list__item-order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.additional-list__item-order {
  margin-bottom: 32px;
}

.product-order-link,
.additional-list__item-order {
  background-color: $bg-green;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background: $bg-green--hover;
  }

  &:active {
    background: $bg-green--hover;
    color: rgba(255, 255, 255, 0.3);
  }
}

.product-order-link {
  margin: 14px 0 25px 0;
}

@media (min-width: $tablet-width) {
  .product-order-link {
    margin: 33px 0 40px 0;
  }
}

@media (min-width: $tablet-width) {
  .additional-list__item-order {
    width: 632px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .additional-list__item-order {
    width: 632px;
  }
}

@media (min-width: $desktop-width) {
  .additional-list__item-order {
    width: 244px;
  }
}

@media (min-width: $desktop-width) {
  .product-order-link {
    width: 168px;
  }
}
