@import "../global/variables";
@import "../global/viewports.scss";

.product {
  padding: 0 20px;
  margin-bottom: 32px;
  width: 320px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .product {
    padding: 0;
    width: 324px;
    height: 430px;
    background: $bg-light;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
    height: 431px;
  }

  .product:not(:nth-child(4n + 4)) {
    margin-right: 80px;
  }
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  color: $color-dark;
  text-transform: uppercase;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .product__title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .product__title {
    line-height: 21px;
  }
}

.product-order {
  font-size: 12px;
  line-height: 16px;
  color: $color-light;
}

@media (min-width: $tablet-width) {
  .product-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    line-height: 16px;
  }
}

.product-order__link,
.content-more__show,
.additional-list__item-order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-order__link,
.additional-list__item-order {
  background-color: $bg-green;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additional-list__item-order {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .product-order__link {
    width: 248px;
  }
}

@media (min-width: $desktop-width) {
  .product-order__link {
    width: 168px;
  }
}

