@import "../global/variables";
@import "../global/viewports.scss";

.product {
  padding: 20px 20px 0 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
  border-bottom: 1px solid $border-primary-lighter;
}

.product:first-child {
  border-top: 1px solid $border-primary-lighter;
}

@media (min-width: $tablet-width) {
  .product {
    padding: 0;
    width: 324px;
    background: $bg-light;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }
}

.product__item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product__item {
    flex-direction: column;
    align-items: center;
  }
}

.product-picture {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $desktop-width) {
  .product-picture {
    width: 245px;
  }
}

@media (min-width: $tablet-width) {
  .product-picture-500 {
    width: 161px;
    margin-top: -30px;
  }
}

@media (min-width: $desktop-width) {
  .product-picture-500 {
    width: 160px;
    height: 177px;
    margin-top: -30px;
  }
}

@media (min-width: $tablet-width) {
  .product-picture-1000 {
    width: 168px;
    margin-top: -50px;
  }
}

@media (min-width: $desktop-width) {
  .product-picture-1000 {
    width: 172px;
    height: 202px;
  }
}

.product-link {
  font-size: 16px;
  line-height: 20px;
  color: $color-dark;
  text-transform: uppercase;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .product-link {
    font-size: 20px;
    line-height: 24px;
  }
}
