@import "../global/variables.scss";
@import "../global/viewports.scss";

.program {
  padding: 0 20px 50px 20px;
}

@media (min-width: $tablet-width) {
  .program {
    width: 708px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .program__wrapper {
    width: 1220px;
  }
}

.program__title {
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  margin-bottom: 40px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .program__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.program__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .program__list {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

@media (min-width: $desktop-width) {
  .program__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.program__item {
  list-style: none;
  height: 60px;
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .program__item {
    align-items: flex-start;
    width: 247px;
    height: 280px;
  }
}

.program__item:not(:last-child) {
  margin-bottom: 20px;
}

.program__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark;
  margin-left: 80px;
}

@media (min-width: $tablet-width) {
  .program__description {
    font-size: 16px;
    line-height: 24px;
    margin: 91px 0 0 0;
  }
}

.program__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background: $bg-green;
  position: absolute;
}
