@import "../global/variables.scss";
@import "../global/viewports.scss";

.program {
  padding: 0 20px 50px 20px;
}

@media (min-width: $tablet-width) {
  .program {
    width: 708px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .program__wrapper {
    width: 1220px;
  }
}

.program__title {
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  margin-bottom: 40px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .program__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.program__list {
  display: grid;
  position: relative;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .program__list {
    grid-template-columns: 2fr 2fr;
  }
}

@media (min-width: $desktop-width) {
  .program__list {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.program__item {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .program__item {
    width: 247px;
    height: 280px;
    grid-auto-flow: row;
  }

  .program__item img {
    width: 80px;
  }
}

.program__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .program__item--1 {
    background: url("../img/1.svg") no-repeat 125px;
  }

  .program__item--2 {
    background: url("../img/2.svg") no-repeat 125px;
  }

  .program__item--3 {
    background: url("../img/3.svg") no-repeat 125px;
  }

  .program__item--4 {
    background: url("../img/4.svg") no-repeat 125px;
  }
}

.program__item--description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .program__item--description {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
  }
}
