@import "../global/variables";
@import "../global/viewports.scss";

.progress {
  background: $bg-primary;
  padding: 25px 20px 40px 20px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .progress {
    background: $bg-white;
    width: 708px;
    margin: 0 auto;
    padding: 0;
  }

  .progress__container--img {
    width: 591px;
    z-index: 1;
  }
}

.progress__container {
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .progress::before {
    content: "";
    width: 768px;
    height: 45%;
    background: $bg-primary;
    position: absolute;
    bottom: 0;
    left: -30px;
  }
}

@media (min-width: $desktop-width) {
  .progress {
    background: $bg-white;
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
  }

  .progress::before {
    content: "";
    width: 1920px;
    height: 74%;
    background: $bg-primary;
    position: absolute;
    bottom: 0;
    left: -350px;
  }

  .progress__container--img {
    width: inherit;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.compare-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $desktop-width) {
  .compare-box {
    flex-direction: row;
    align-items: flex-end;
    width: 591px;
  }
}

.progress__title {
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  margin-bottom: 40px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .progress__title {
    font-size: 60px;
    line-height: 60px;
    margin: 43px 0 63px 0;
  }
}

@media (min-width: $desktop-width) {
  .progress__title {
    margin: 43px 0 76px 0;
    padding: 0;
  }
}

.progress__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .progress__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    font-style: normal;
    font-weight: normal;
  }
}

@media (min-width: $desktop-width) {
  .progress__description {
    padding-top: 70px;
    margin-bottom: 70px;
    width: 436px;
  }
}

.progress__stats {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .progress__stats {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .progress__stats {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.progress__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 20px;
}

.progress__list:first-child {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .progress__list {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .progress__list {
    margin-bottom: 55px;
  }
}

.progress__item {
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .progress__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 162px;
  }

  .progress__item:first-child {
    margin-right: 42px;
  }
}

.progress__item-details {
  font-size: 24px;
  line-height: 24px;
  color: $color-black;
  width: 124px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .progress__item-details {
    font-size: 30px;
    line-height: 37px;
  }
}

.progress__item--text {
  font-size: 12px;
  line-height: 12px;
  color: $color-dark;
  text-align: center;
  width: 65px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: $bg-primary;
}

@media (min-width: $tablet-width) {
  .progress__item--text {
    background: $bg-white;
    font-size: 14px;
    line-height: 14px;
    min-width: 97px;
    width: 145px;
    padding: 0 9px;
  }
}


@media (min-width: $desktop-width) {
  .progress__item--text {
    background: $bg-primary;
  }
}

.progress__total {
  font-size: 14px;
  line-height: 20px;
  color: $color-black;
  margin-bottom: 40px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .progress__total {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: right;
    height: 70px;
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .progress__total {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    width: inherit;
    margin-bottom: 30px;
  }

  .progress__total--text {
    margin-right: 63px;
  }
}

.compare {
  margin-top: 15px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .compare {
    margin-bottom: 60px;
    z-index: 1;
  }
}

.compare__result {
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .compare__result {
    border-bottom: 1px dotted #dcdcdc;
  }
}

.compare__label {
  display: flex;
  align-items: center;
}

.compare__result--input {
  appearance: none;
}

@media (min-width: $tablet-width) {
  .compare__result--input {
    overflow: hidden;
    width: 426px;
    height: 34px;
    background-color: transparent;
  }

  .compare__result--input::-webkit-slider-runnable-track {
    height: 6px;
    background: #dcdcdc;
    border-radius: 6px;
  }

  .compare__result--input::-webkit-slider-thumb {
    width: 34px;
    height: 34px;
    cursor: ew-resize;
    border-radius: 50%;
    margin-top: -14px;
    border: 1px solid #cdcdcd;
    background: $bg-white url("../img/slider-control.svg") no-repeat center;
    appearance: none;
  }
}

.compare__result:first-child {
  margin-right: 13px;
}

.compare__result:last-child {
  margin-left: 13px;
}

@media (min-width: $desktop-width) {
  .compare {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
