@import "../global/variables";
@import "../global/viewports.scss";

.selection-program {
  margin: 0 auto;
  padding-top: 27px;
}

@media (min-width: $tablet-width) {
  .selection-program {
    padding: 0 0 25px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    padding: 0;
  }
}

.selection-program__title {
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
  margin-bottom: 37px;
  font-weight: normal;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .selection-program__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    margin-left: 70px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program__title {
    margin-left: 110px;
  }
}

.selection-program__text {
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
  margin-bottom: 39px;
  text-transform: uppercase;
  width: 230px;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .selection-program__text {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 66px 70px;
    width: 323px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program__text {
    margin-left: 110px;
  }
}
