@import "../global/variables";
@import "../global/viewports.scss";

.selection-program {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .selection-program {
    width: 708px;
  }
}

.selection-program__title {
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
  margin-bottom: 37px;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .selection-program__title {
    margin-bottom: 54px;
  }
}

.selection-program__text {
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .selection-program__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
