@import "./source/sass/global/variables.scss";
@import "../global/viewports.scss";

.separator,
.separator-catalog {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 26px;
}

.separator::before,
.separator-catalog::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background: $bg-green;
  right: 0;
}

.separator::before {
  top: 13px;
}

.separator__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .separator__wrapper {
    width: 630px;
  }

  .separator::before {
    width: 100%;
    top: 89px;
  }
}

@media (min-width: $tablet-width) {
  .separator-catalog-wrapper {
    width: 708px;
  }
}

@media (min-width: $tablet-width) {
  .separator-catalog::before {
    width: 100%;
    top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .separator__wrapper {
    width: 1220px;
  }

  .separator::before {
    top: 19px;
  }
}
