@import "./source/sass/global/variables.scss";
@import "../global/viewports.scss";

.separator,
.separator-catalog {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 26px;
}

.separator::before,
.separator::after {
  content: "";
  position: absolute;
  height: 2px;
  background: $bg-green;
  top: 13px;
}

.separator::before {
  right: 0;
  width: 60%;
}

.separator::after {
  width: 0;
}

.separator-catalog::before,
.separator-catalog::after {
  content: "";
  position: absolute;
  height: 2px;
  background: $bg-green;
}

.separator-catalog::before {
  right: 0;
  width: 44%;
  top: 14px;
}

.separator-catalog::after {
  width: 0;
}

.separator__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .separator__wrapper {
    width: 630px;
  }

  .separator::before {
    width: 65%;
    top: 89px;
  }

  .separator::after {
    width: 5%;
    top: 89px;
  }
}

@media (min-width: $tablet-width) {
  .separator-catalog-wrapper {
    width: 708px;
  }
}

@media (min-width: $tablet-width) {
  .separator-catalog::before {
    width: 60%;
    top: 21px;
  }

  .separator-catalog::after {
    width: 30%;
    top: 21px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .separator__wrapper {
    width: 1220px;
  }

  .separator::before {
    width: 78%;
    top: 16px;
  }

  .separator::after {
    top: 16px;
  }

  .separator-catalog::before {
    width: 68%;
  }

  .separator-catalog::after {
    width: 5%;
  }
}
