@import "../global/variables";
@import "../global/viewports.scss";

.slogan {
  position: relative;
}

@media (min-width: $tablet-width) {
  .slogan {
    width: 708px;
    height: 826px;
    padding-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .slogan {
    width: 1440px;
    height: 570px;
    margin: 0 auto;
    padding-left: 0;
  }
}

.slogan__picture {
  position: absolute;
  width: 100%;
  height: 302px;
  background-image: url("../img/index-background-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .slogan__picture {
    width: 628px;
    background-image: none;
  }
}

@media (min-width: $desktop-width) {
  .slogan__picture {
    width: 720px;
    height: 694px;
    position: absolute;
    right: 0;
    top: -190px;
    background: url("../img/index-background-desktop-2x.jpg") no-repeat;
    background-size: cover;
  }
}

.slogan__picture::before {
  content: "";
  background-color: rgba(104, 183, 56, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (min-width: $tablet-width) {
  .slogan__picture::before {
    background: $bg-white;
  }
}

@media (min-width: $desktop-width) {
  .slogan__picture::before {
    content: "";
    background-color: rgba(104, 183, 56, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.slogan__title {
  font-size: 36px;
  line-height: 36px;
  color: $color-white;
  text-align: center;
  padding: 27px 0 25px 0;
}

@media (min-width: $tablet-width) {
  .slogan__title {
    font-size: 60px;
    line-height: 60px;
    color: $color-black;
    margin-bottom: 40px;
    width: 414px;
    text-align: left;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .slogan__title {
    margin-top: 110px;
    width: 620px;
    padding-left: 190px;
  }
}

.slogan__intro {
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 295px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .slogan__intro {
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    margin-bottom: 50px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .slogan__intro {
    margin-bottom: 52px;
    padding-left: 190px;
  }
}

.slogan__link-select {
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-green;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  margin: 0 auto;
  text-transform: uppercase;

  &:hover {
    background: $bg-green--hover;
  }

  &:active {
    background: $bg-green--hover;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .slogan__link-select {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .slogan__link-select {
    margin-left: 190px;
  }
}

.slogan__img {
  position: absolute;
  top: 160px;
  margin-left: 6%;
}

@media (min-width: $tablet-width) {
  .slogan__img {
    width: 709px;
    height: 609px;
    top: 216px;
    margin-left: 0;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .slogan__img {
    width: 552px;
    height: 499px;
    position: absolute;
    top: -64px;
    left: 40%;
  }
}
